body {
    padding-top: 5rem;
    /*height: auto;*/
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    /*background-color: #f5f5f5;*/
    background: url("../../img/1.jpg") fixed;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: auto;*/
    animation-name: myfirst;
    animation-duration: 30s;
    /*变换时间*/
    animation-delay: 3s;
    /*动画开始时间*/
    animation-iteration-count: infinite;
    /*下一周期循环播放*/
    animation-play-state: running;
    /*动画开始运行*/
}

@keyframes myfirst {
    0% {
        padding-top: 5rem;
        background: url("../../img/1.jpg") fixed;
        /*background-size: auto;*/
    }
    20% {
        padding-top: 5rem;
        background: url("../../img/2.jpg") fixed;
        /*background-size: auto;*/
    }
    40% {
        padding-top: 5rem;
        background: url("../../img/3.jpg") fixed;
        /*background-size: auto;*/
    }
    60% {
        padding-top: 5rem;
        background: url("../../img/4.jpg") fixed;
        /*background-size: auto;*/
    }
    80% {
        padding-top: 5rem;
        background: url("../../img/5.jpg") fixed;
        /*background-size: auto;*/
    }
    100% {
        padding-top: 5rem;
        background: url("../../img/1.jpg") fixed;
        /*background-size: auto;*/
    }
}

.footer-notice {
    opacity: 0.9;
    /*color: #545B62;*/
    font-family: "楷体";
    padding: 3rem 1.5rem;
    text-align: center;
}

#my-sign {
    font-weight: 900;
}

/*自动*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* 别改*/

footer {
    background-color: rgba(255, 255, 255, 0.2);
}

.topic-notice {
    /*opacity: 0.7;*/
    font-weight: 900;
    font-family: "楷体";
}

#row-editor {
    filter: alpha(Opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}

/*发布时间字样*/
.circle-release-time {
    font-family: initial;
}

/*阅读数字样*/
.reading-count {

}

.blog-title {
    font-size: x-large;
    font-weight: 900;
    color: #fda926;
}

.blog-info {
    font-size: smaller;
    font-weight: 500;
    color: #089ea7;
}

.blog-time {
    text-align: right;
    font-size: small;
}

.myRow {
    display: block; /*内联对象需加*/
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /*溢出时显示省略标记...；需与overflow:hidden;一起使用*/
}

.auto-hidden-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

/* 自动隐藏 */
.auto-hidden-header.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}