<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>script</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
</head>

<body>
<!-- JavaScript files-->
<div id="myScript">
    <script src="../../static/js/jquery-3.3.1.slim.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="../static/js/popper.js/umd/popper.min.js"
            th:src="@{/static/js/popper.js/umd/popper.min.js}">
    </script>
    <script src="../../static/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <script src="../static/js/jquery.cookie/jquery.cookie.js"
            th:src="@{/static/js/jquery.cookie/jquery.cookie.js}">
    </script>
    <script src="../static/js/chart.js/Chart.min.js"
            th:src="@{/static/js/chart.js/Chart.min.js}"></script>
    <script src="../static/js/jquery-validation/jquery.validate.min.js"
            th:src="@{/static/js/jquery-validation/jquery.validate.min.js}"></script>
    <script src="../static/js/charts-home.js"
            th:src="@{/static/js/charts-home.js}"></script>
    <!-- Main File-->
    <script src="../static/js/front.js"
            th:src="@{/static/js/front.js}"></script>
</div>
</body>

</html>